[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-watch = "*"
pytest-mock = "*"
pytest-cov = "*"

[requires]
python_version = "2.7"
